/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}

li {
    margin: 20px;
    font-size: 20px;
}
ul {
    background-color: white;
    
}

body {
    font-family: sans-serif;
    background-color: lightgray;
}

/* header */
header {
    background-color: white;
    
}

/* utility */

.m-bottom-10 {
    margin-bottom: 10px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.p-top-40 {
    padding-top: 40px;
}

.text-large {
    font-size: 30px;

}
/* container */





/* common */




/* uncommon */

.task


#logo {
    vertical-align: middle;

}

.text-logo {
    font-size: 70px;
    vertical-align: middle;
    display: inline-block;
}

/* green circle */
.green-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: green solid 2px;
}

.red-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: red solid 2px;
}

.blu-circle {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    background-color: blue;
    color: white;
}
.yellow-circle {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    background-color: rgba(206, 206, 12, 0.925);
    color: white;
}
.pink-circle {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    background-color: pink;
    color: white;
}

.purple-circle {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    background-color: rgb(163, 0, 163);
    color: white;
}

.orange-circle {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    background-color: orange;
    color: white;
}
.aquamarine-circle {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    background-color: aquamarine;
    color: white;
}